.cover {
	background-image: url('../images/background_image.jpg');
}

.hero.is-primary .card .title {
	color: #363636;
}

.hero.is-primary .card .subtitle {
	color: #363636;
}

.downloadButton {
	float:right;
	margin-top: 25px;
}

@media screen and (max-width: 640px) {
	.downloadButton {
		float: unset;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
